@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');
@import url('https://fonts.googleapis.com/css?family=Barlow');

/*Sign In*/
.framed {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
	border: 1px solid black;
	width: 60%;
	margin: auto;
	margin-top: 20%;
	padding: 2em;
	}
/*research result icon --- advanse research page*/
ul.search-results {
	list-style: none;
	display: inline;
	margin-left: 0 !important;
	padding: 0;
}
ul.search-results li {
	display: inline;
	margin: 0.5px;
}
/* manage_book.html.twig */
.book-image {
  width: 200px;
  height: 300px;
  border: 1px solid black;
}

.book-image img {
  width: 100%;
}


.heding-services {
	margin-top: 5%;
	margin-bottom: 3%;
}
hr{
	margin-top: 8%
}

/*Social media*/
ul.social-network {
	list-style: none;
	display: inline;
	margin-left: 0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}
.social-network a.icoFacebook:hover {
	background-color: #3B5998;
}
.social-network a.icoSkype:hover {
	background-color: #0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color: #007bb7;
}
.social-network a.icoFacebook:hover i, .social-network a.icoSkype, .social-network a.icoLinkedin:hover i {
	color: #fff;
}
a.socialIcon:hover, .socialHoverClass {
	color: #44BCDD;
}
.social-circle li a {
	display: inline-block;
	position: relative;
	margin: 0 auto 0 auto;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	width: 50px;
	height: 50px;
	font-size: 20px;
	background-color: #C2625F;
}
.social-circle li i {
	margin: 0;
	line-height: 50px;
	text-align: center;
}
.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

/*button style*/
input.btn {
	background: #C2625F !important;
	color: #FFF !important;
}

.righted {
    text-align: right;
}

/*header font*/
div#company-name {
	font-family: 'ZCOOL XiaoWei', serif;
	font-size: 5ex;
	margin-top: 0;
  margin-bottom: -0.5	em;
}

/*container home page*/

.jumbotron.hero-main
 {     
	background-image: url("../img/slider_3.jpg");
	width: 100%;
	height: 350px;
  }

/**header*/
div.header {
	background-color: #fff;
}

.bg-1 {
	background-color:#845176;
}

/*post hero section home page*/
#post-hero {
	font-family: 'Barlow', sans-serif;
  padding: 20px 0;
	background: #E27E5F;
	color: #fff;
}
/*body*/
body { 
	font-family: 'Barlow', sans-serif;
}
 /*footer nav bar*/
a.nav-link:first-of-type {
	color: white;
}
/*search bar on header*/
div.col-sm-4.justify-content-end.search{
   	padding-top: 20px;
    padding-right: 35px;
    padding-left: 15px;
}

div.row.services{
    margin-top: 50px;
}

div#post-hero{
	margin-bottom: 50px;
}