/*General*/
body {

}

.row {
  margin: auto;
}

/*search*/
#search-container {
	overflow: hidden;
}

.search {
	float: right; 
	margin-top: 1em; 
	margin-bottom: 1em;
 
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}



/*Navigation bar*/
.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 1rem;
}





h2 a {
  text-decoration: none;
  color: rgba(255,255,255,.5);
}

h2 a:hover {
  text-decoration: none;
  color: white;
}

div.dark {
  background-color:#343a40;
  color: white;
  
  margin: auto;
}

.footer-col {
  padding: 1em 3em;
}

div#bottom-menu {
  width: 100%;
  text-align: center;
  margin-top: 1em;
}

ul.centerUL {
  margin: 2px auto;
  line-height: 1.4;
  padding-left: 0;
  flex-direction: row;
}

.centerUL li {
  display: inline;
  text-align: center;
  padding: 2%; 
}

#bottom-menu a {
  text-decoration: none;
  color: black;
}

#bottom-menu a:hover {
 color:#343a40;
}

/*Sign In*/
.framed {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
	border: 1px solid black;
	width: 60%;
	margin: auto;
	margin-top: 20%;
	padding: 2em;
	}


/*Footer*/
ul.social-network {
	list-style: none;
	display: inline;
	margin-left: 0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}
.social-network a.icoFacebook:hover {
	background-color: #3B5998;
}
.social-network a.icoSkype:hover {
	background-color: #0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color: #007bb7;
}
.social-network a.icoFacebook:hover i, .social-network a.icoSkype, .social-network a.icoLinkedin:hover i {
	color: #fff;
}
a.socialIcon:hover, .socialHoverClass {
	color: #44BCDD;
}
.social-circle li a {
	display: inline-block;
	position: relative;
	margin: 0 auto 0 auto;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	width: 50px;
	height: 50px;
	font-size: 20px;
	background-color:rgba(247, 164, 26, 1);
}
.social-circle li i {
	margin: 0;
	line-height: 50px;
	text-align: center;
}
.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}


/*research result icon --- advanse research page*/
ul.search-results {
	list-style: none;
	display: inline;
	margin-left: 0 !important;
	padding: 0;
}
ul.search-results li {
	display: inline;
	margin: 0 5px;
}


/* manage_book.html.twig */
.book-image {
  width: 200px;
  height: 300px;
  border: 1px solid black;
}

.book-image img {
  width: 100%;
}