<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Advanced search</title>
    <link rel="stylesheet" href="../public/css/main.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        
</head>

<body>
    <div class="container">
        <h2>Advanced search</h2><br>

        <form action='search_result.php' method="GET">
            <!--1 row in the form-->
            <div class="form-row">
                <div class="form-group col-md-1">
                </div>
                <div class="form-group col-md-2">
                    <select id="inputKeyWord" class="form-control">
                        <option selected>Keyword Anywere</option>
                        <option>Title</option>
                        <option>Author</option>
                        <option>Category</option>
                        <option>Title</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <select id="inputInclude" class="form-control">
                        <option selected>All words</option>
                        <option>Any words</option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <input type="text" class="form-control" name='query' id="inputText">
                </div>
            </div>
            <!--2 row in the form-->
            <div class="form-row">
                <div class="form-group col-md-1">
                    <select id="inputKeyWord2" class="form-control">
                        <option selected>AND</option>
                        <option>OR</option>
                        <option>NOT</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <select id="inputKeyWord" class="form-control">
                        <option selected>Keyword Anywere</option>
                        <option>Title</option>
                        <option>Author</option>
                        <option>Category</option>
                        <option>Title</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <select id="inputInclude" class="form-control">
                        <option selected>All words</option>
                        <option>Any words</option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <input type="text" class="form-control" id="inputText2">
                </div>
                <div class="form-group col-md-2">
                    <button type="button" class="btn btn-info">Add Another</button>
                </div>

                <div class="form-group col-md-2">
                    <button type="submit" class="btn btn-info">Show Results</button>
                </div>

            </div>

            <hr>
            <h5>Limit search results by</h5>
            <br>


            <!--3 row in the form-->
            <div class="form-row">
                <div class="form-group col-md-2">
                    Audience
                </div>
                <div class="form-group col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="checkAdult">
                        <label class="form-check-label" for="checkAdult">
                            Adult
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="checkChild">
                        <label class="form-check-label" for="checkChild">
                            Child
                        </label>
                    </div>
                </div>
            </div>
            <!--4 row in the form-->
            <div class="form-row">
                <div class="form-group col-md-2">
                    Language
                </div>
                <div class="form-group col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="checkEnglish">
                        <label class="form-check-label" for="checkEnglish">
                            English
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="checkFrench">
                        <label class="form-check-label" for="checkFrench">
                            French
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="checkSpanish">
                        <label class="form-check-label" for="checkSpanish">
                            Spanish
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="checkOtherLang">
                        <label class="form-check-label" for="checkOtherLang">
                            Other
                        </label>
                    </div>
                </div>
            </div>
            <!--5 row in the form-->
            <div class="form-row">
                <div class="form-group col-md-2">
                    Place of Publication
                </div>
                <div class="form-group col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="checkCanada">
                        <label class="form-check-label" for="checkCanada">
                            Canada
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="checkFrance">
                        <label class="form-check-label" for="checkFrance">
                            France
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="checkUSA">
                        <label class="form-check-label" for="checkUSA">
                            USA
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="checkOtherContr">
                        <label class="form-check-label" for="checkOtherContr">
                            Other
                        </label>
                    </div>
                </div>
            </div>
            <!--6 row in the form-->

            <div class="form-row">
                <div class="form-group col-md-2">
                    Year of publication
                </div>
                between
                <div class="form-group col-md-1">
                    <input type="text" class="form-control" id="inputYearStart" size="4" placeholder="YYYY">
                </div>
                to
                <div class="form-group col-md-1">
                    <input type="text" class="form-control" id="inputYearFinish" size="4" placeholder="YYYY">
                </div>
            </div>
            <div class="form-row">
                <button type="submit" class="btn btn-info">Show results</button>
            </div>
        </form>
        <!--hiden field-->
        <input type="hidden" name="isbn" value="{{ book.ISBN }}">
    </div>



    <!--Bootstrap source-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>