


<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">	
<title>NORJLIB</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<link href="style.css" rel="stylesheet"> 
</head>
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"><img src="img/logo.png"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="NORJ-HOME.html">Home</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="#">AboutUs</a>
					</li>	
					<li class="nav-item active">
						<a class="nav-link" href="contact.html">Services</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="#">GeneralInfo</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="#">Help</a>
					</li>
				</ul>
			</div>
		</div>
		</nav>
<form action="#" method="post" id="reference">
  
    <h2 class="TitreEncadre">Your contact information</h2>
    <fieldset class="NORJ">
  <div class="LabelFloat">
    <label for="f_name">Given name<span class="Important"> *</span></label>
    <div id="f_name" class="messageErr" style="margin-left:380px;width:240px;min-width:240px;"></div>
    <input type="text" id="f_name" name="p_t01" value="" size="60" maxlength="254">
  </div>
    <div class="LabelFloat">
    <label for="P4_NOM">Family Name<span class="Important"> *</span></label>
    <div id="P4_NOMMessage" class="messageErreur" style="margin-left:380px;width:240px;min-width:240px;"></div>
    <input type="text" id="P4_NOM" name="p_t02" value="" size="60" maxlength="254">
  </div>
    <div class="LabelFloat">    
    <label for="mail">E-mail<span class="Important"> *</span></label>
    <div id="mailMessage" class="messageErreur" style="margin-left:380px;width:240px;min-width:240px;"></div>
    <input type="text" id="mail" name="p_t03" value="" size="60" maxlength="254">
  </div>
  <div class="LabelFloat">
    <label for="mail_copy">Confirm e-mail<span class="Important"> *</span></label>
    <div id="mail_copyMessage" class="messageErreur" style="margin-left:380px;width:240px;min-width:240px;"></div>
    <input type="text" id="mail_copy" name="p_t12_copy" value="" size="60" maxlength="254">
  </div>
    <div class="LabelFloat">
    <label for="P4_TELEPHONE">Phone</label>
    <input type="text" id="P4_TELEPHONE" name="p_t04" value="" size="60">
  </div>
    <div class="LabelFloat">
    <label for="P4_CODE_POSTAL">First three characters of your postal code<span class="ImportantR"> *</span></label>
    <div id="P4_CODE_POSTALMessage" class="messageErr" style="margin-left:380px;width:240px;min-width:240px;"></div>
    <input type="text" id="P4_CODE_POSTAL" name="p_t05" value="" size="60">
  </div>
    <div class="LabelFloat">
    <label for="P4_PAYS">Country</label>
    <select name="p_t06" id="P4_PAYS" size="1">
<option value="Canada" selected="selected">Canada</option>
<option value="South Korea">South Korea</option>
    </select>
  </div>
    <div class="LabelFloat">
    <label for="P4_LANGUE">Language of communication</label>
    <select name="p_t08" id="P4_LANGUE" size="1">
    <option value="en">English</option>
      <option value="fr-ca">French</option>
    </select>
  </div>
  </fieldset>

    <h2 class="question">Your question</h2>
    <fieldset class="Boite">
  <div class="LabelFloat">
    <label for="object">Purpose of request<span class="ImportantR"> *</span><br><br>your question is about:</label>
    <div id="P4_CODE_POSTALMessage" class="messageErr" style="margin-left:380px;width:240px;min-width:240px;"></div>
    <select name="p_t09" id="P4_OBJECTIF" size="1">
    <option value="Personal">Personal curiosity</option>
    <option value="Professional">Professional interest</option>
    <option value="Secondary">Secondary school</option>
    <option value="College">College level</option>
    <option value="Undergraduate">Undergraduate level</option>
    <option value="Graduate">Graduate level</option>
    <option value="Postgraduate">Postgraduate level</option>
    <option value="1">Elementary school 1</option>
    <option value="2">Elementary school 2</option>
    <option value="3">Elementary school 3</option>
    <option value="Other">Other</option>
    </select>
  </div>
    <div class="LabelFloat">  
      <label for="P4_QUESTION">Your request<span class="ImportantR"> *</span></label>
    <div id="P4_QUESTIONMessage" class="messageErr" style="margin-left:380px;width:240px;min-width:240px;"></div>
    <textarea name="p_t10" rows="8" cols="60" id="P4_QUESTION"></textarea>
  </div>
<input type="hidden" name="agent" value="Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36 OPR/58.0.3135.107" readonly="">
<input type="hidden" name="ip" value="69.17.250.216" readonly="">
<input type="hidden" name="pivotal_id" id="pivotal_id">
<div class="BlocBouton">
<input class="Bouton ButSubmit" value="Send" type="submit" onclick="actionChange();this.form.elements['pivotal_id'].value = hexToDec('');">
</div>
  </fieldset>  

  
</form>