{% extends "base.html" %}
{% block page_title %}Home Page{% endblock %}

{% block hero_section %}
<div class="jumbotron text-center hero-main" style="margin-bottom:0">
</div>
<!--post hero-->
<div class="row justify-content-center" id="post-hero">
    <div class="col-sm-3 align-middle">
        <h3>Welcome to the NORJ Library</h3>
    </div>
    <div class="col-sm-3">Lorem ipsum dolor sit amet, at vel case discere interpretaris. Ut vim putent incorrupte,
        eirmod animal iisque te usu.</div>
    <div class="col-sm-3 ">
        <input type="submit" class="btn" name='Submit' value='Learn More'></input>
    </div>
</div>
{% endblock %}


{% block content %}
<!--Services-->
<div class="row services">

    <div class="col-lg-8">
        <h2 class="heading-services text-center">Activities</h2>
        <p class="text-justify">Lorem ipsum dolor sit amet, at vel case discere interpretaris. Ut vim putent incorrupte,
            eirmod animal iisque te usu. Quo ut volutpat ocurreret reformidans. Alia corrumpit his an, dolor tamquam
            recusabo mel eu.</p>
        <p class="text-right"><input type="submit" class="btn" name='Submit' value='Learn More'></input></p>
        <hr>

        <h2 class="heading-services text-center">New Releases</h2>
        <p class="text-justify">Lorem ipsum dolor sit amet, at vel case discere interpretaris. Ut vim putent incorrupte,
            eirmod animal iisque te usu. Quo ut volutpat ocurreret reformidans. Alia corrumpit his an, dolor tamquam
            recusabo mel eu.</p>
        <p class="text-right"><input type="submit" class="btn" name='Submit' value='Learn More'></input></p>
        <hr>

        <h2 class="heading-services text-center">Information</h2>
        <p class="text-justify">Lorem ipsum dolor sit amet, est copiosae insolens te, vix omnis hendrerit ut. No malorum
            labitur accusamus mea. Vim in vocent suavitate mediocritatem, mei et nostrud prodesset. Eam tale eros graeco
            et, duo ne accusam efficiendi, labore lucilius mei ad. Ex nec nostrud molestie concludaturque, et dolore
            nonumes recteque has. Usu et atqui exerci, pro an velit noster, cu quodsi iudicabit quo.</p>
        <p class="text-right"><input type="submit" class="btn" name='Submit' value='Learn More'></input></p>
    </div>

    <div class="col-md-1">
    </div>
    <div class="col-md-3 address">
        <div class="contact-info">
            <div class="text-center">
                <ul class="list-unstyled mb-0">
                    <li><i class="fa fa-map-marker fa-2x"></i>
                        <p>1000 First avenue <br>Montreal H1H 2H3</p>
                    </li>
                    <li><i class="fa fa-phone mt-4 fa-2x"></i>
                        <p>(514) 123-4567 </p>
                    </li>
                    <li><i class="fa fa-envelope mt-4 fa-2x"></i>
                        <p>info@horjlibrary.com</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}