{% extends "base.html" %}
{% block page_title %}Sign in{% endblock %}


{% block content %}
{% if error!= ''%}
  <div class="alert alert-danger" role="alert">{{error}}</div>
{% endif %}
<div class="py-2">
  <div class="container">
    <div class="row">
      <div class="framed">
        <form action="{{form_action}}" method="post" enctype="multipart/form-data">
          <img src="#" alt="user icon"><br /><br />
          <input type="text" name="user_name" placeholder="User name" /><br /><br />
          <input type="password" name="password" placeholder="Password" /><br /><br />
          <input type="checkbox" name="remember_me" />Remember Me<br /><br />
          <input type="submit" name="btn_login" value = "Sign in">
        </form>
      </div>
    </div>
  </div>
</div>  
{% endblock %}

