{% extends "base.html" %}
{% block page_title %}My Account{% endblock %}


{% block content %}
<a href="logout.php" >Sign out</a><br />
<a href="create_user.php?user_id={{ user.0.UserID }}">Edit account</a>
<h1>Hello {{session.FirstName}}</h1>
{% if error!= ''%}
  <div class="alert alert-danger" role="alert">{{error}}</div>
{% endif %}
<div class="py-2">
  <div class="container">
    <div class="row">
      <div id="user_profile" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <img src="#" alt="user photo"><br /><br />
        <form action="{{form_action}}" method="POST" enctype="multipart/form-data">
        <input type="file" name="image"><br /><br />
        <span>{{error}}</span>
        <input type="submit" name="btn_img" value="Upload photo">
      </form>
        <h2>{{session.FirstName}} {{session.LastName}}</h2>
        
        <p><a href="#" onclick="show_user_loans()">Loans ({{loan_amount}})</a></p>
        <!-- <button onclick="show_user_loans()">test</button> -->
        <p><a href="#" onclick="show_user_res()">Reservations ({{res_amount}})</a></p>
        <p>Charges to pay: ${{charges}}</p>
  
      </div>
      <div id="user_info" class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <img src="../public/img/bookpile.jpg" >

      </div>
    </div>
  </div>
</div> 
<script type="text/javascript"  src="../public/js/show_user_info.js" > </script>
{% endblock %}