{% extends "base.html" %}
{% block page_title %}Sign in{% endblock %}

{% block content %}
{% if error!= '' %}
<div class="alert alert-danger" role="alert">{{error}}</div>
{% endif %}


<form action="{{form_action}}" method="post">
  <div class="form-row">
    <div class="form-group col-md-4 ">
      <i class="fa fa-user fa-2x"></i>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4 ">
      <input type="text" name="UserName" placeholder="User Name" value="" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4 ">
      <input type="password" name="Password" placeholder="Password" value="" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4 ">
      <input type="checkbox" name="RememberMe" />Remember Me
    </div>
  </div>
  <div class="form-row">
      <div class="form-group col-md-4 ">
  <input type="submit" class="btn" name="btn_login" value="Sign in">
  <input type="reset" class="btn" value="Reset">
  </div>
  </div>
  <div class="form-row">
      <div class="form-group col-md-4 borded">
          Not a mebmer yet?&nbsp;&nbsp;  <a href="user/create">Create Account</a>
      </div>
  </div>
</form>

{% endblock %}

{% block javascripts %}
<script src="public/js/show_user_loans.js"> </script>{% endblock %}