{% extends "base.html" %}

{% block page_title %}Advanced Search{% endblock %}

{% block content %}
	<h2>Advanced search</h2><br>

	<form action="search/result" method="GET">
		{% for row in 1..3 %}
			<div class="form-row">
				{% if row > 1 %}			
					<div class="form-group col-md-1">
						<select name="operator{{row-1}}" class="form-control">
							<option value="and" selected>AND</option>
							<option value="or">OR</option>
							<option value="not">NOT</option>
						</select>
					</div>
				{% else %}
					<div class="form-group col-md-1"></div>
				{% endif %}
				{# search criteria #}
				<div class="form-group col-md-2">
					<select name="field{{row}}" class="form-control">
						<option value="all">All</option>
						<option value="title" {% if row == 1 %}selected{% endif %}>Title</option>
						<option value="author" {% if row == 2 %}selected{% endif %}>Author</option>
						<option value="publisher" {% if row == 3 %}selected{% endif %}>Publisher</option>
					</select>
				</div>
				<div class="form-group col-md-2">
					<select name="match{{row}}" class="form-control">
						<option value=0 selected>All words</option>
						<option value=1>Exact pharse</option>
					</select>
				</div>
				<div class="form-group col-md-7">
						<input type="text" class="form-control" name="keyword{{row}}">
				</div>
			</div>
		{% endfor %}
		<div class="form-group">
			<button type="submit" class="btn btn-info">Search</button>
		</div>

		<hr>
		<h5>Limit search (optional)</h5>
		<br>

		{# Audience #}
		<div class="form-row">
			<div class="form-group col-md-12 limit-search-category">
				<h6>Audience</h6>
			</div>
			<div class="form-group col-md-2">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" id="checkAdult" name="adult">
					<label class="form-check-label" for="checkAdult">Adult</label>
				</div>
			</div>
			<div class="form-group col-md-2">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" id="checkChild" name="child">
					<label class="form-check-label" for="checkChild">Child</label>
				</div>
			</div>
		</div>

		{# Language #}
		<div class="form-row">
			<div class="form-group col-md-12 limit-search-category">
				<h6>Language</h6>
			</div>
			{% for lang in languages %}
				<div class="form-group col-md-2 col-sm-3">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="check_lang{{loop.index}}" name="{{ lang.LangDescrip }}">
						<label class="form-check-label" for="check_lang{{loop.index}}">{{ lang.LangDescrip }}</label>
					</div>
				</div>
			{% endfor %}
		</div>

		{# Categories #}
		<div class="form-row">
			<div class="form-group col-md-12 limit-search-category">
				<h6>Categories</h6>
			</div>
      {% for category in categories %}
				<div class="form-group col-md-3">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="check_cat{{loop.index}}" name="{{ category.CategoryDescrip }}">
						<label class="form-check-label" for="check_cat{{loop.index}}">{{ category.CategoryDescrip }}</label>
					</div>
				</div>
			{% endfor %}
		</div>

		{# Year #}
		<div class="form-row">
			<div class="form-group col-md-12 limit-search-category">
				<h6>Year of publication</h6>
			</div>
				<div class="form-group col-md-2">
					<span>From</span>
					<input type="text" class="form-control" id="year_from" size="4" placeholder="YYYY">
				</div>
				<div class="form-group col-md-2">
					<span>To</span>
					<input type="text" class="form-control" id="year_to" size="4" placeholder="YYYY">
				</div>
		</div>

		{# Search Button #}
		<div class="form-row">
			<button type="submit" class="btn btn-info">Search</button>
		</div>
	</form>
{% endblock %}